.body {
    width: 83%;
    padding: 0 0;
    margin: 0 auto;
}
body {
    background-image: url("images/papel-de-parede-adesivo-madeira-preta-taco.jpg");
    background-attachment: fixed;
}
.main-header {
    background: white;
    padding: 1%;
    opacity: 0.7;
}
ul li {
    display: inline-block;
    width: 23%;
    text-align: center;
}
.left {
    float: left;
    font-size: 3em;
    width: 50%;
    color: white; /*----- Big Spaceship -----*/
}
.right {
    width: 50%;
    float: left;
}
a {
    color: red;
    opacity: 1;
}
a.menu:link{
    padding: 10%;
    text-decoration: none;
    text-transform: uppercase;
}
a.menu:hover {
    background: red;
    color: white; /* -----наводка----- */
    padding: 10%;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.7;
}

#uEntriesList li {
    list-style:none;
}
.h3 {
    font-size: 0.8em;
    margin-left: 20%;

}
.border {
    border: 3px solid white;
    border-radius: 30px;
    color: white;
}


@media  {
    
}